<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454699099001-5flal9mkapcverpf5mqkv1ms4868o3s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454699099001-5flal9mkapcverpf5mqkv1ms4868o3s7</string>
	<key>API_KEY</key>
	<string>AIzaSyAb2DzPTMdv22NoqvxO55hHwuNjgFMTYXU</string>
	<key>GCM_SENDER_ID</key>
	<string>454699099001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KrickFire.TwitterCloneSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>twittercloneswiftui-79d11</string>
	<key>STORAGE_BUCKET</key>
	<string>twittercloneswiftui-79d11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454699099001:ios:70c880ae45378e6b9385a8</string>
</dict>
</plist>